.cardContent {
    color: rgb(56, 56, 56);
    background-color: rgba(255, 255, 255, 0.567);
    border-radius: 20px;
    box-shadow: 3px 4px 5px rgb(232, 232, 232);
    cursor: pointer;
    transition: all 0.2s ease-in;
font-size: 14px;
width: 200px;

}

.cardContent:hover {
    box-shadow: 2px 4px 4px rgb(230, 230, 230);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.titleIcon {
    font-size: 16px;
    font-weight: 600;
}