.containerAboutmeCard{

   backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.35);
    padding: 9px 10px;
    border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  
}

.containerAboutmeCard:hover{
transform: scale(1.04);
    background-color: rgba(255, 255, 255, 0.678);
}

.containerIcon{
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.55);
    padding: 5px 8px;
    border-radius: 15px;
  color: #4988C4;
}