.main {
  min-width: 20px;
  padding: 0 20px;
  margin: 0 auto;

}

.transitionsItem {
  overflow: hidden;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2em;

  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity, height;
  white-space: nowrap;
  cursor: pointer;
  line-height: 80px;
}


@media (min-width: 992px) {
  .transitionsItem {
    font-size: 4em;
  }
}

.container {


  display: flex;




}


html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.containerAboutme{
  margin: 400px 0;
  background-color: red;
}