---

---

<section class=" mx-auto col-lg-5 containerAboutme" style="margin: 250px 0;">
  <span class="d-flex gap-2 py-3">
    <h1 class="FirstWord fw-bold">About</h1>
    <h1 class="secontWord fw-bold">Me</h1>
  </span>
  <p class="text-muted">
    I am a curious, creative person with a constant desire to improve. I enjoy
    learning new things, taking on challenges, and always looking for more
    efficient ways to get things done. I adapt quickly to change, work well in a
    team, and when something doesn't work, I don't stand still.I look for
    solutions.
    <br />
    <br />
    I value responsibility, clear communication, and respect. I like to contribute
    ideas, listen to others, and help maintain a positive environment. When I commit
    to something, I take it seriously, without losing my sense of humor. In short:
    <br />
    <br />
     I'm someone who solves problems, not someone who gives up.
  </p>
</section>