---
import Navbar from "../layouts/Navbar/Navbar.astro";
import MainTitle from "../components/React/Main/MainTitle";
import "bootstrap/dist/css/bootstrap.min.css";
import "../Styles/global.css";
import AboutMe from "../pages/AboutMe.astro";

import Skills from "./Skills.astro";
---

<main class="mainContainer">
  <Navbar />
  <MainTitle client:load />
  <AboutMe />

  <Skills />
</main>
