---
import SkillsCards from "../components/React/SkillsCards/SkillsCards";
---

<section>
  <div>
    <div class="mx-auto col-lg-5">
      <div class="d-flex align-items-center gap-2">
        <h1 class="fw-bold firstTitle">Technologies</h1>
        <h1 class="fw-bold secondTitle">worked</h1>
      </div>
      <p class="text-muted">
        Technologies that I have used throughout my entire process, technologies
        that I continue to learn from every day in order to implement them
        optimally in the projects I carry out
      </p>
    </div>
  </div>
  <SkillsCards client:load />
</section>
